body{
	background-color: #777;
	font-family: "Arial, Helvetica Neue, Helvetica, sans-serif";
	font-size: 18px;
	border-color: #dddddd;
	margin: 0px;
	height:100%;
	width: 100%;
}

#content{
	min-width: 1080px;
}

header{
	background-color: #858181;
	border:solid black 1px;
	text-align: center;
	padding: 10px;
	margin: 10px;
}

.navContainer{
	background-color: #858181;
	border:solid black 1px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	float: left;
	width: 495px;
	max-height:200px;
}

.sectionContainer{
	background-color: #858181;
	border:solid black 1px;
	float:left;
	text-align: center;
	padding: 10px;
	margin: 10px;
	width: 495px;
}

.asideContainer{
	background-color: #858181;
	border:solid black 1px;
	text-align: center;
	padding: 10px;
	margin: 10px;
	float: right;
	width: 495px;
}

.articleContainer{
	background-color: white;
	border:solid black 1px;
	text-align: center;
	padding: 0px;
	margin: 10px;
}

.footerContainer{
	border:solid black 1px;
	position:fixed;
	bottom:10px;
	width:100%;
	padding: 60px 0px 60px 0px;
	background-color:#858181;
    height:1px; 
    text-align: center;
}